.body{
  margin: 0;
  min-height:100vh;
  display:flex;
  flex-direction: column;
}
.header{
  position: fixed;
  background-color: violet;
  width: 100%;
  height:50px;
  top:0;
  left: 0; 
  z-index: 1000; 
  box-sizing: border-box;
}
.header h1{
  text-align: center;
  margin:0;
}
.main{
  padding-top: 100px;
}
.form {
    display: grid;
    grid-template: auto auto / 1fr 1fr;
    gap: 17px;
    margin-bottom: 17px;
    padding-top: 80px;
}

.form input {
    width: 100%;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    text-indent: 5px;
}

.form button {
    grid-column: 1 / -1;
    border-radius: 5px;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    color: white;
    border: none;
    cursor: pointer;
}

.form input, .form button {
    min-height: 40px;
    font-family: "Karla", sans-serif;
}
.meme {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.meme > img {
    max-width: 60%;
    height: 90%;
    border-radius: 3px;
}

.meme span {
    position: absolute;
    text-align: center;
    margin-block: 15px;
    padding-inline: 5px;
    font-family: impact, sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}
.bottom {
    bottom: 0;
}

.top {
    top: 0;
}